.fixed
  %nav{class: 'top-bar', data: :topbar}
    %ul{class: 'title-area'}
      %li{class: 'name'}
        %h1
          %a{href: "/"}<
            Dmitry Kovalevsky
    %section{class: 'top-bar-section'}
      %ul{class: 'left'}
        %li{class: 'divider'}
        %li
          %a{href: "/posts/new", alt: 'Add Post', class: 'add-link'}<
            +
        %li{class: 'divider'}

%div{class: 'content', 'ng-view' => true}