<div ng-init="initFlow($flow)" flow-init="{singleFile: true}" flow-files-submitted="$flow.upload()" flow-file-added="!!{png:1,jpg:1,jpeg:1}[$file.getExtension()]" flow-name="flow" class="container">
  <h2 class="text-center">Create new post</h2>
  <div class="row">
    <form>
      <div class="columns large-3">
        <span class="button small" ng-hide="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Select image</span>
        <span class="button small" ng-show="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Change</span>
        <span class="button small alert" ng-click="$flow.cancel()" ng-show="$flow.files.length">Rollback</span>
        <label>Image</label>
        <div ng-show="$flow.files.length">
          <img class="thumbnail img-box" flow-img="$flow.files[0]" />
        </div>
      </div>
      <div class="columns large-7">
        <label>Title</label>
        <input ng-model="formData.name" placeholder="New Post" type="text" maxlength="250">
        <small ng-show="unvalidate && !formData.name" class="error">
          Title is required and must be a string.
        </small>
        <label>Post</label>
        <textarea ng-model="formData.body" placeholder="Type your post here..."></textarea>
        <small ng-show="unvalidate && !formData.body" class="error">
          Post body is required and must be a text.
        </small>
      </div>
    </form>
  </div>
  <div class="row">
    <a href="../" class="button">Back</a>
    <a href="#" class="button" ng-click="createPost()">Create</a>
    <a href="#" class="button" ng-click="clearPost()">Clear</a>
  </div>
</div>