<h2 class="text-center">{{ current.name }}</h2>
<div class="row">
	<div class="large-12 columns">
		<figure ng-show="current.image_file_name" class="post-image">
			<img ng-src="{{ current.medium }}"></img>
		</figure>
	    <p>{{ current.body }}</p>
		<p class="post-date">{{ current.date | date:'dd, MMMM, yyyy HH:mm' }}</p>
	</div>
</div>
<div ng-show="current.body" class="row">
    <a href="../" class="button">Back</a>
    <a href="/posts/{{postId}}/edit" class="button">Edit</a>
    <a href="#" ng-click="deletePost(postId)" class="button alert">Delete</a>
</div>