<div class="container" style="margin-top: 40px">
  <h1 class="text-center">Create new post</h1>
    <form>
    <fieldset>
      <label><strong>Title</strong></label>
      <input ng-model="formData.postName" placeholder="New Post" type="text" maxlength="250">
      <label><strong>Body</strong></label>
      <textarea style="height: 250px" ng-model="formData.postBody" placeholder="Type your post here..."></textarea>
      <a href="../" class="button">Back</a>
      <button class="btn" ng-click="createPost()">Create</button>
      <button class="btn" ng-click="clearPost()">Clear post</button>
    </fieldset>
  </form>
</div>